//Imports **************************************************
@import "reset";
@import "variables";
@import "mixins";
@import "landingAnimations";
@import "spaceAnimations";
@import "fantasyAnimations";
@import "sideNav";
@import "swiper";
@import "book";
//Imports **************************************************

//Main Style ***********************************************

/* container that holds all content and sets size of page so content can be centered */
main {
  background:linear-gradient(#FCCD04 , #FFB48F , #F5E6CC );
  height: 130vh;
  font-family: 'Love Ya Like A Sister', cursive;
  font-weight: bolder;
}

.themeLinks{
  z-index: 100;
  margin-top: 0px;
  float: right;
  font-size: 15px;
  color: whitesmoke;
}


/* displays title on main page */
.header {
  padding-top: 20px;
  text-align: center;
  color: #A64Ac9;
  font-size: 400%;
}

#mainLinks {
  padding-top: 20px;
  justify-content: space-around;
}



//Main Style ***********************************************






//********clear fix trick************

//#main-nav  ul:after{
//  content: '';
//  display: block;
//  clear: both;
//}