<button type="button" class="parents btn btn-secondary btn-lg" href="/parents">
    Parents Page
</button>

<button type="button" class="kids btn btn-secondary btn-lg" href="/kids">
    Kids Page
</button>

{{!-- adjust href property to pages made for adults n kids and we should be good --}}