<header>
    <h1>Login using...</h1>
</header>

<form action="/" method="post">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br>

<button type="button" class="google btn btn-primary btn-sm" href="/auth/google">
    Login with Google
</button>

<br>
<br>

<button type="button" class="google btn btn-primary btn-sm" href="/auth/facebook">
    Login with Facebook
</button>

<br>

<p>Need an account? <a href="/signup">Signup</a></p>
